<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>确认</key>
	<dict>
		<key>en</key>
		<string>Confirm</string>
		<key>zh-Hans</key>
		<string>确认</string>
	</dict>
	<key>删除</key>
	<dict>
		<key>en</key>
		<string>Delete</string>
		<key>zh-Hans</key>
		<string>删除</string>
	</dict>
	<key>年份</key>
	<dict>
		<key>en</key>
		<string>Model Year</string>
		<key>zh-Hans</key>
		<string>年份</string>
	</dict>
	<key>状态</key>
	<dict>
		<key>en</key>
		<string>Status</string>
		<key>zh-Hans</key>
		<string>状态</string>
	</dict>
	<key>日期</key>
	<dict>
		<key>en</key>
		<string>Date</string>
		<key>zh-Hans</key>
		<string>日期</string>
	</dict>
	<key>品牌</key>
	<dict>
		<key>en</key>
		<string>Brand</string>
		<key>zh-Hans</key>
		<string>品牌</string>
	</dict>
	<key>确定</key>
	<dict>
		<key>en</key>
		<string>Ok</string>
		<key>zh-Hans</key>
		<string>确定</string>
	</dict>
	<key>取消</key>
	<dict>
		<key>zh-Hans</key>
		<string>取消</string>
		<key>en</key>
		<string>Cancel</string>
	</dict>
	<key>设置</key>
	<dict>
		<key>zh-Hans</key>
		<string>设置</string>
		<key>en</key>
		<string>Setting</string>
	</dict>
	<key>分析</key>
	<dict>
		<key>en</key>
		<string>Analysis</string>
		<key>zh-Hans</key>
		<string>分析</string>
	</dict>
	<key>首页</key>
	<dict>
		<key>zh-Hans</key>
		<string>首页</string>
		<key>en</key>
		<string>Home</string>
	</dict>
</dict>
</plist>
